{% extends "chriswellschool/base.html" %}

{% block title %}

{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container mt-4">
  <div class='coursescontainer'>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4 mb-3">
        <div class='courseitem'>
          <h2 class='coursetitle'>GBCE Courses</h2>
          <ul class="list-group">
            <li class="list-group-item">CIA: CERTICATE IN ACCOUNTING</li>
            <li class="list-group-item">CBS: CERTIFICATE IN BUSINESS STUDIES</li>
            <li class="list-group-item">CISD: CERTIFICATE IN SECRETARIAL DUTIES</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 mb-3">
        <div class='courseitem'>
          <h2 class='coursetitle'>ABCE Courses</h2>
          <ul class="list-group">
            <li class="list-group-item">DIA: DIPLOMA IN ACCOUNTING</li>
            <li class="list-group-item">DBA: DIPLOMA IN BUSINESS ADMINISTRATION</li>
            <li class="list-group-item">DOM: DIPLOMA IN OFFICE MANAGEMENT</li>
            <li class="list-group-item">DIT: DIPLOMA IN INFORMATION TECHNOLOGY</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 mb-3">
        <div class='courseitem'>
          <h2 class='coursetitle'>Practical Courses</h2>
          <ul class="list-group">
            <li class="list-group-item">GRAPHIC DESIGN</li>
            <li class="list-group-item">WEB APPLICATION DEVELOPMENT</li>
            <li class="list-group-item">MOBILE APPLICATION DEVELOPMENT</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="my-4">
  <h2 class='center'>GBCE In Detail</h2>
  <br />
  <h2 class='center'>CIA: CERTICATE IN ACCOUNTING</h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-left">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Financial Accounting</li>
            <li class="list-group-item">English Language</li>
            <li class="list-group-item">Mathematics</li>
            <li class="list-group-item">Economics</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 ml-auto">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Cost Accounting</li>
            <li class="list-group-item">Business Law</li>
            <li class="list-group-item">Commerce</li>
            <li class="list-group-item">Social Studies</li>
            <li class="list-group-item">Integrated Science</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="my-4">
  <br />
  <h2 class='center'>CBS: CERTIFICATE IN BUSINESS STUDIES</h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-right">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Economics</li>
            <li class="list-group-item">English Language</li>
            <li class="list-group-item">Mathematics</li>
            <li class="list-group-item">Commerce</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Office Practice</li>
            <li class="list-group-item">Business Law</li>
            <li class="list-group-item">Financial Accounting</li>
            <li class="list-group-item">Social Studies</li>
            <li class="list-group-item">Integrated Science</li>
            <li class="list-group-item">Marketing</li>
            <li class="list-group-item">Salesmanship</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="my-4">
  <h2 class='center'>
    CISD: CERTIFICATE IN SECRETARIAL DUTIES
  </h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-left">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Commerce</li>
            <li class="list-group-item">Typewriting (40wpm)</li>
            <li class="list-group-item">English Language</li>
            <li class="list-group-item">Office Practice</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Economics</li>
            <li class="list-group-item">Business Law</li>
            <li class="list-group-item">Social Studies</li>
            <li class="list-group-item">Integrated Science</li>
            <li class="list-group-item">Shorthand (80wpm)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr class="my-4">
  <br />
  <br />
  <h2 class='center'>ABCE In Detail</h2>
  <br />
  <h2 class='center'>DIA: DIPLOMA IN ACCOUNTING</h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-right">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Financial Accounting</li>
            <li class="list-group-item">Cost & Management Accounting</li>
            <li class="list-group-item">Auditing</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Business Finance</li>
            <li class="list-group-item">Business Law</li>
            <li class="list-group-item">Taxation</li>
            <li class="list-group-item">Economics</li>
            <li class="list-group-item">Business Mathematics</li>
            <li class="list-group-item">Business Communication</li>
            <li class="list-group-item">Information Technology</li>
            <li class="list-group-item">Microfinance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="my-4">
  <h2 class='center'>
    DBA: DIPLOMA IN BUSINESS ADMINISTRATION
  </h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-left">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Marketing</li>
            <li class="list-group-item">Business Finance</li>
            <li class="list-group-item">Human Resource Management</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Economics</li>
            <li class="list-group-item">Business Law</li>
            <li class="list-group-item">Business Mathematics</li>
            <li class="list-group-item">Financial Accounting</li>
            <li class="list-group-item">Business Communication</li>
            <li class="list-group-item">Information Technology</li>
            <li class="list-group-item">Entrepreneurship</li>
            <li class="list-group-item">Logistics and Supply Chain Management</li>
            <li class="list-group-item">Sales Management</li>
            <li class="list-group-item">Tourism and Hospitality Management</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="my-4">
  <h2 class='center'>DOM: DIPLOMA IN OFFICE MANAGEMENT</h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-right">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Business Communication</li>
            <li class="list-group-item">Information Technology</li>
            <li class="list-group-item">Office Administration & Practice</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Economics</li>
            <li class="list-group-item">Business Law</li>
            <li class="list-group-item">Business Mathematics</li>
            <li class="list-group-item">Business Finance</li>
            <li class="list-group-item">Text Processing</li>
            <li class="list-group-item">Marketing</li>
            <li class="list-group-item">Human Resource Management</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr class="my-4">
  <h2 class='center'>
    DIT: DIPLOMA IN INFORMATION TECHNOLOGY
  </h2>
  <br />
  <div class='subjectcontainer' data-aos="fade-left">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='coresubjects'>
          <h4 class='headerunderlined'>Core Subjects</h4>
          <ul class="list-group">
            <li class="list-group-item">Hardware & Networking</li>
            <li class="list-group-item">Information Technology</li>
            <li class="list-group-item">Information Systems</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
        <div class='electivesubjects'>
          <h4 class='headerunderlined'>
            Elective Subjects(2 Minimum)
          </h4>
          <ul class="list-group">
            <li class="list-group-item">Business Mathematics</li>
            <li class="list-group-item">Entrepreneurship</li>
            <li class="list-group-item">Financial Accounting</li>
            <li class="list-group-item">Marketing</li>
            <li class="list-group-item">Human Resource Management</li>
            <li class="list-group-item">Logistics and Supply Chain Mgt.</li>
            <li class="list-group-item">Office Administration & Practice</li>
            <li class="list-group-item">Tourism and Hospitality Management</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>
{% endblock content %}