{% extends "chriswellschool/base.html" %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}
<div class="container mt-4">
  <br>
  <br>
  <br>
  <br>
  <h2 class="text-center">Please download all courses below</h2>
  <br>
  <div class='downloadlinks' style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;gap:2rem;">
    <a title="download document" style="font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        border-radius: 10px;
        color: white;
        transition: 1.5 ease;
        background-image: linear-gradient(to right, #f5d020, #3b1f91);" target="_blank"
      href="{% static 'chriswellschool/documents/ABCE COURSE OUTLINE.docx' %}" rel="noreferrer"
      class='downloadlink1 mr-1'>
      ABCE Course List
      <i class="fas fa-file-download"></i>
    </a>
    <a title="download document" style="font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        border-radius: 10px;
        color: white;
        transition: 1.5 ease;
        background-image: linear-gradient(to right, #f5d020, #3b1f91);" target="_blank"
      href="{% static 'chriswellschool/documents/GBCE COURSE OUTLINE.docx' %}" rel="noreferrer"
      class='downloadlink2 ml-1'>
      GBCE Course List
      <i class="fas fa-file-download"></i>
    </a>
  </div>
</div>

{% endblock content %}