$primary_color: #ffb727;
$secondary_color: #ffdb27;
$light: #fff;
$dark: #d3d3d3;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  // background: #d3d3d3;
}


.butt {
  cursor: pointer;
  background-image: linear-gradient(to right, $primary_color, $secondary_color);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 24px;
  border: none;
  outline: none;
  &:hover {
    background-image: linear-gradient(to right, $secondary_color, primary_color);
    color: white;
  }
  &:focus {
    border: none;
    outline: none;
  }
}
