nav {
  -webkit-transition: ease 1s;
  transition: ease 1s;
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 4;
  background: #3b1f91;
}

nav .navigationitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-left: 20px;
  margin-right: 10px;
  padding-top: 20px;
}

nav .navigationitems .forsmall {
  display: none;
}

nav .navigationitems .forleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigationitems .forleft .logoandname img {
  width: 50px;
}

nav .navigationitems .forleft .sitename {
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}

nav .navigationitems .forright {
  margin-right: 30px;
}

nav .navigationitems .forright ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navigationitems .forright ul li {
  padding: 5px;
  text-align: center;
}

nav .navigationitems .forright ul li a {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  -webkit-transition: 1.5 ease;
  transition: 1.5 ease;
}

nav .navigationitems .forright ul li a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#3b1f91), to(#f5d020));
  background-image: linear-gradient(to right, #3b1f91, #f5d020);
}

@media (max-width: 700px) {
  nav {
    -webkit-transition: ease 1s;
    transition: ease 1s;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 4;
    background-image: #3b1f91;
  }
  nav .navigationitems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin-right: 20px;
    padding-top: 20px;
  }
  nav .navigationitems .forleft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navigationitems .forleft .logoandname img {
    width: 40px;
  }
  nav .navigationitems .forleft .sitename {
    font-weight: bold;
    color: #fff;
    font-size: 15px;
  }
  nav .navigationitems .forright {
    margin-right: 50px;
  }
  nav .navigationitems .forright ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .navigationitems .forright ul li {
    padding: 5px;
    text-align: center;
  }
  nav .navigationitems .forright ul li .sitelink {
    background: #3b1f91;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  nav {
    -webkit-transition: ease 1s;
    transition: ease 1s;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 4;
    background: #3b1f91;
  }
  nav .navigationitems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 20px;
  }
  nav .navigationitems .forsmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  nav .navigationitems .forsmall .iconhome,
  nav .navigationitems .forsmall .iconregister,
  nav .navigationitems .forsmall .iconcourses,
  nav .navigationitems .forsmall .iconcontact {
    color: white;
    font-size: 20px;
  }
  nav .navigationitems .forleft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navigationitems .forleft .logoandname img {
    width: 40px;
    border-radius: 50%;
    border: none;
  }
  nav .navigationitems .forleft .sitename {
    font-weight: bold;
    color: #fff;
    font-size: 15px;
  }
  nav .navigationitems .forright {
    display: none;
  }
}
/*# sourceMappingURL=navigation.css.map */